.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: grey;
    padding: 10px;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 10px;
}