@use "layout/_reset";
@use "layout/_header";
@use "layout/_hero";
@use "layout/_articles";
@use "layout/_footer";


/* Tablet */
@media (max-width: 768px) {

    .articles {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }

    .beneficios {
        width: 50%;
    }
}

/* Mobile */
@media (max-width: 480px) {

    .nav {
        display: none;
    }

    .menu {
        display: block;
        width: 50px;
        margin: 10px;
    }

    .menu img {
        width: 100%;
    }

    .hero {
        background-image: none;
    }
}