@use "layout/_reset";
@use "layout/_header";
@use "layout/_hero";
@use "layout/_articles";
@use "layout/_footer";


/* Mobile */
@media (max-width: 480px) {

    .nav {
        display: none;
    }

    .menu {
        display: block;
        width: 50px;
        margin: 10px;
    }

    .menu img {
        width: 100%;
    }

    .hero {
        background-image: none;
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        }
}